html
  head
    title KD's Dance Web
    link(rel="icon", href="../static/smile.png")
    block scripts
    block style 

  body
    nav#navbar 
            ul 
                div#logo
                    img(src="../static/logoDance.png", alt="Logo")
                div#logoName KD
                li #[a(href='/') Home ]
                li #[a(href='#') About ]
                li #[a(href='#') Services]
                li #[a(href='#') Class Info]
                li #[a(href='/contect') Contect Us]
    block body
    footer#footer 
            | Copyrights © 2023 kailash_dusad_07 | All rights reserve