extends base.pug

block scripts
  script(src='../static/script.js')

block style
    style 
        include ../home.css

block body 
    

    section#introSection 
        h1 Welcome to Our Dance classes
        div#small Eat Sleep Dance Repeat
    
    section#ourMission 
        h1 
            | Our mission
        div#AllDiv
            div#firstDiv.ourMissionDiv
                div 
                    h4 Dance Perfection
                    img(src="../static/Card1Dance.png", alt="")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatibus?
            div#secondDiv.ourMissionDiv
                div 
                    h4 Dance the way you Like
                    img(src="../static/logoDance.png", alt="")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatibus?
            div#thirdDiv.ourMissionDiv
                div 
                    h4 Teaching Expert
                    img(src="../static/Card3Dance.png", alt="")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatibus?


    section#sponserSection 
        h2 Our Sponsers
        div#image  #[a(href="https://www.instagram.com/kailash_dusad_07/" target='_blank') #[img(src="../static/insta.png", alt="Instagram")]]
            //- | #[img(src="../static/Google.png", alt="Google")]
            | #[a(href="https://www.google.com" target='_blank') #[img(src="../static/Google.png", alt="Google")]]
            | #[a(href="https://www.apple.com/in/" target='_blank') #[img(src="../static/apple.png", alt="Apple")]]
            | #[a(href="https://www.linkedin.com/in/kailash-dusad-36475925b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " target='_blank') #[img(src="../static/LinkedIn.png", alt="LinkedIn")]]
            | #[a(href="https://www.youtube.com/" target='_blank') #[img(src="../static/youtube.png", alt="Youtube")]]

    