doctype html
html(lang="en")
    head
        title KD's Dance Web
        style 
            include ../home.css
        link(rel="icon", href="../static/smile.png")
        
    body 
        //- h1#Ram Jai Shree Ram
        nav#navbar 
            ul 
                div#logo
                    img(src="../static/logoDance.png", alt="Logo")
                div#logoName KD
                li #[a(href='/') Home ]
                li #[a(href='#') About ]
                li #[a(href='#') Services]
                li #[a(href='#') Class Info]
                li #[a(href='/contect') Contect Us]

        section#introSection 
            h1 Welcome to Our Dance classes
            div#small Eat Sleep Dance Repeat
        
        section#ourMission 
            h1 
               | Our mission
            div#AllDiv
                div#firstDiv.ourMissionDiv
                    div 
                        h4 Dance Perfection
                        img(src="../static/Card1Dance.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatibus?
                div#secondDiv.ourMissionDiv
                    div 
                        h4 Dance the way you Like
                        img(src="../static/logoDance.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatibus?
                div#thirdDiv.ourMissionDiv
                    div 
                        h4 Teaching Expert
                        img(src="../static/Card3Dance.png", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatibus?


        section#sponserSection 
            h2 Our Sponsers
            div#image  #[img(src="../static/insta.png", alt="Instagram")]
                | #[img(src="../static/Google.png", alt="Google")]
                | #[img(src="../static/apple.png", alt="Apple")]
                | #[img(src="../static/LinkedIn.png", alt="LinkedIn")]
                | #[img(src="../static/youtube.png", alt="Youtube")]

        section#ContectSection 
            h2 Contect Us 
            div#contectForm
                form#form(action="/" method='post')
                    div.formDiv Name:
                        input#name(type="text", name="name" placeholder='Name')
                    div.formDiv Phone Number:
                        input#Phone-Number(type="text", name="Phone Number" placeholder='+91 0000000000') 
                    div.formDiv Adhar Card Number:
                        input#Adhar-Number(type="text", name="Adhar Number" placeholder='2160 2974 6869')
                    div.formDiv Date of Birth:
                        input#DOB(type="date", name="DOB" placeholder='Day/Month/Year')
                    div.formDiv Gender:
                        input#gender(type="radio", name="gender" placeholder='Male' value='Male')
                        | Male
                        input#gender(type="radio", name="gender" placeholder='FeMale' value='FeMale')
                        | Female
                button#btn Submit

        footer#footer 
            | Copyrights © 2023 kailash_dusad_07 | All rights reserve
        
        script 
            include ../script.js